.app {
  height: 100%;
  width: 100%;
  background-color: black;
}

.img {
  background-image: url('/assets/oldtyme.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
